.header-nav-container {
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}
.logo-img-container {
  width: 10%;
}
.nav-logo-img {
  width: 90%;
  min-width: 140px;
  height: 40px;
}
.small-device-container,
.large-device-container {
  display: flex;
  align-items: center;
}
.link-item {
  text-decoration: none;
  margin-right: 20px;
}
.nav-list-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.small-device-container {
  display: none;
}
.large-device-container {
  width: 53%;
  justify-content: space-between;
}
.nav-list-item {
  color: white;
}
.icon {
  color: #f8fafc;
  font-size: 26px;
  margin-right: 20px;
}
.logout-btn,
.find-jobs-btn {
  background-color: #6366f1;
  color: white;
  padding: 12px;
  border-radius: 6px;
  border-width: 0;
  cursor: pointer;
}
.nav-btn {
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
}
.dummy-btn {
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
}
@media (max-width: 767px) {
  .small-device-container {
    display: flex;
  }
  .large-device-container {
    display: none;
  }
}
